* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    font-family: "Quicksand", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    background-image: linear-gradient(30deg,
            hsl(0deg 0% 0%) 0%,
            hsl(237deg 59% 29%) 14%,
            hsl(246deg 37% 48%) 29%,
            hsl(249deg 60% 68%) 43%,
            hsl(249deg 60% 68%) 58%,
            hsl(246deg 37% 48%) 72%,
            hsl(237deg 59% 29%) 86%,
            hsl(0deg 0% 0%) 100%);
    overflow-x: hidden;
    color: #fff;
    font-family: "Open Sans",
        sans-serif;
    background-repeat: no-repeat;
}

.scroll-watcher {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2px;
    pointer-events: none;
    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: left;
    background: #ffffff;
    z-index: 1000;
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
    letter-spacing: normal;
    font-weight: 700;
}

.bg-color {
    background-image: linear-gradient(45deg,
            hsl(250deg 89% 78%) 0%,
            hsl(253deg 90% 81%) 8%,
            hsl(255deg 90% 84%) 17%,
            hsl(257deg 90% 87%) 25%,
            hsl(259deg 91% 90%) 33%,
            hsl(261deg 93% 94%) 42%,
            hsl(263deg 100% 97%) 50%,
            hsl(261deg 93% 94%) 58%,
            hsl(259deg 91% 90%) 67%,
            hsl(257deg 90% 87%) 75%,
            hsl(255deg 90% 84%) 83%,
            hsl(253deg 90% 81%) 92%,
            hsl(250deg 89% 78%) 100%);
}

/* ===== Custom Button ===== */
.custom-btn {
    background-image: linear-gradient(45deg,
            hsl(250deg 89% 78%) 0%,
            hsl(250deg 90% 79%) 8%,
            hsl(251deg 91% 80%) 17%,
            hsl(251deg 91% 81%) 25%,
            hsl(251deg 92% 81%) 33%,
            hsl(251deg 93% 82%) 42%,
            hsl(251deg 94% 83%) 50%,
            hsl(251deg 94% 84%) 58%,
            hsl(251deg 95% 85%) 67%,
            hsl(251deg 96% 86%) 75%,
            hsl(252deg 97% 86%) 83%,
            hsl(252deg 99% 87%) 92%,
            hsl(252deg 100% 88%) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 250px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: background-image 1s ease-in-out,
        transform 0.3s ease-in-out;
}

.custom-btn:hover {
    transform: scale(1.05);
    background-image: linear-gradient(225deg,
            hsl(250deg 89% 78%) 0%,
            hsl(250deg 90% 79%) 8%,
            hsl(251deg 91% 80%) 17%,
            hsl(251deg 91% 81%) 25%,
            hsl(251deg 92% 81%) 33%,
            hsl(251deg 93% 82%) 42%,
            hsl(251deg 94% 83%) 50%,
            hsl(251deg 94% 84%) 58%,
            hsl(251deg 95% 85%) 67%,
            hsl(251deg 96% 86%) 75%,
            hsl(252deg 97% 86%) 83%,
            hsl(252deg 99% 87%) 92%,
            hsl(252deg 100% 88%) 100%);
}

/* ===== Section ===== */

section {
    padding: 100px 0;
}

.nav-popup {
    height: 0;
    overflow: hidden;
    background-image: linear-gradient(30deg,
            hsl(250deg 89% 78%) 0%,
            hsl(250deg 90% 79%) 15%,
            hsl(251deg 92% 81%) 29%,
            hsl(251deg 93% 82%) 44%,
            hsl(251deg 94% 84%) 58%,
            hsl(251deg 96% 85%) 72%,
            hsl(251deg 98% 86%) 86%,
            hsl(252deg 100% 88%) 100%);
}